In [1]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
import numpy as np
from creditcard.util.util import read_yaml_file
from creditcard.contants import *

In [2]:
impute=SimpleImputer(missing_values=np.nan, strategy='mean')

In [3]:
impute.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])

SimpleImputer()

In [4]:
X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]

In [5]:
print(impute.transform(X))

[[ 7.   2.   3. ]
 [ 4.   3.5  6. ]
 [10.   3.5  9. ]]

In [6]:
X=impute.transform(X)

In [34]:
path=r'C:\Users\Ramesh Kumar\Jupter Home\INeuron\Machine Learning\End to End projects\Creditcard_default_prediction\config_info\schema.yaml'

In [35]:
schema=read_yaml_file(file_path=path)

In [38]:
num_cols=schema[NUMERICAL_COLUMN_KEY]

In [39]:
num_pipe = Pipeline(steps=[
    ('impute',SimpleImputer(strategy='mean')),
    ('scaler',StandardScaler())
])

In [40]:
preprocessorobj=ColumnTransformer([('num_pipe',num_pipe,num_cols1)])

In [41]:
print(preprocessorobj)

ColumnTransformer(transformers=[('num_pipe',
                                 Pipeline(steps=[('impute', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 ['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION',
                                  'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3',
                                  'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1',
                                  'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
                                  'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
                                  'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4',
                                  'PAY_AMT5', 'PAY_AMT6',
                                  'default.payment.next.month'])])

In [42]:
dfpath=r'C:\Users\Ramesh Kumar\Jupter Home\INeuron\Machine Learning\End to End projects\Creditcard_default_prediction\creditcard\artifact\data_ingestion\20-07-2022_16-09-26\ingested_data\test\creditcard.csv'

In [43]:
import pandas as pd
df = pd.read_csv(dfpath)

In [44]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,5470,200000.0,2,3,1,30,-1,-1,2,-1,...,740.0,890.0,740.0,1100.0,0.0,740.0,890.0,740.0,740.0,0
1,17053,70000.0,2,3,2,25,2,0,0,0,...,70823.0,71006.0,70828.0,2527.0,2615.0,2500.0,3000.0,2600.0,3000.0,1
2,23412,180000.0,2,2,2,30,0,0,0,0,...,175557.0,178010.0,178976.0,7000.0,8000.0,8000.0,7001.0,6600.0,7000.0,0
3,8135,50000.0,2,3,1,35,2,2,2,2,...,21826.0,10208.0,10100.0,2200.0,568.0,0.0,516.0,400.0,300.0,1
4,19234,30000.0,2,5,2,45,2,0,0,0,...,30480.0,31124.0,29333.0,2000.0,1600.0,1500.0,1100.0,1053.0,1320.0,1

In [45]:
preprocessorobj.fit_transform(df)

array([[-1.10853671,  0.25529036,  0.80211307, ..., -0.25257156,
        -0.27340802, -0.53289   ],
       [ 0.24054019, -0.74832076,  0.80211307, ..., -0.14575257,
        -0.13613122,  1.87655989],
       [ 0.98117561,  0.10088865,  0.80211307, ...,  0.08396569,
         0.10683656, -0.53289   ],
       ...,
       [ 1.12839422,  1.87650833, -1.24670703, ...,  0.24172471,
         0.27247984, -0.53289   ],
       [ 1.58414299,  2.18531175,  0.80211307, ..., -0.27267191,
        -0.2946677 , -0.53289   ],
       [ 0.12162389, -1.13432504,  0.80211307, ..., -0.25486875,
        -0.28798609, -0.53289   ]])

In [3]:
def check(a):
    return type(a)

In [4]:
li=['A','B']

In [6]:
l2=[]
for i in li:
    l2.append(check(i))

In [7]:
l2

[str, str]