<h3>Project: Creditcard defaulters prediction </h3>

<h5>Problem statement:<h5>
<h9>We need to find out whether a customer is a defaulter in paying dues or not, based on company provided dataset<h9>
<h9>dataset consist of age, marital status, education,credit limit, past 6 months paid amount, past 6 months bill statements<h9>

In [8]:
path1 = r'C:\Users\Ramesh Kumar\Jupter Home\INeuron\Machine Learning\End to End projects\Creditcard_default_prediction\creditcard\artifact\Data_ingestion\29-07-2022_18-09-08\ingested_data\train\creditcard.csv'

In [9]:
import pandas as pd

In [10]:
credit = pd.read_csv(path1)

In [11]:
credit.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,26297,360000.0,2,3,2,29,-1,-1,-1,-1,...,3255.0,8255.0,8411.0,5005.0,4851.0,4784.0,5000.0,3000.0,2000.0,0
1,634,210000.0,2,2,1,47,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2864,50000.0,1,2,1,37,0,0,0,0,...,17926.0,18487.0,19029.0,1579.0,1590.0,1000.0,1000.0,1000.0,1200.0,0
3,12375,20000.0,2,2,2,39,4,3,2,0,...,11240.0,11476.0,11708.0,0.0,420.0,402.0,417.0,423.0,1472.0,1
4,4328,180000.0,1,2,1,35,-1,-1,-1,-1,...,1099.0,0.0,1099.0,1099.0,1099.0,1099.0,0.0,1099.0,0.0,0

In [12]:
credit.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')